.gradle/
build/
doc/javadoc/
target/
*.o
*.bin
**/jni/*.dll
**/jni/*.so
**/jni/*.jnilib
/00-Binary_Packages/
/dmg/
*.dmg
*.deb
*.app.tar.gz
/swt/
/swt-*/
/swt*.zip
*.class
*.log
.idea/
*.iml
.vscode/
.classpath
.settings/
.project
android/build-scripts/tuxguitar-android/local.properties
android/build-scripts/tuxguitar-android/.idea/
.DS_Store
